.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ccc;
    font-size: 1.5em;
}

.logo-image {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.logout-button {
    padding: 8px 16px;
    background-color: #8b0000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #0056b3;
}
.create-user-button {
    background-color: #8b0000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 16px;
    font-size: 16px;
}

.create-user-button:hover {
    background-color: #3e8e41;
}

.responsive-text {
    font-size: 1em; /* Default font size for large screens */
}

/* When the screen size is 768px or less, decrease the font size */
@media screen and (max-width: 768px) {
    .responsive-text {
        font-size: 0.5em;
    }
}

/* When the screen size is 480px or less, decrease the font size even more */
@media screen and (max-width: 480px) {
    .responsive-text {
        font-size: 0.2em;
    }
}
.responsive-text {
    font-size: 1em; /* Default font size for large screens */
}

/* When the screen size is 768px or less, decrease the font size */
@media screen and (max-width: 768px) {
    .responsive-text {
        font-size: 0.8em;
    }
}

/* When the screen size is 480px or less, decrease the font size even more */
@media screen and (max-width: 480px) {
    .responsive-text {
        font-size: 0.5em;
    }
}

@media screen and (max-width: 768px) {
    .header {
        font-size: 0.8em;
    }
}

/* When the screen size is 480px or less, decrease the font size even more */
@media screen and (max-width: 480px) {
    .header {
        font-size: 0.5em;
    }
}

@media screen and (max-width: 768px) {
    .logo-image {
        width: 70px;
        height: 70px;
    }
}

/* When the screen size is 480px or less, decrease the font size even more */
@media screen and (max-width: 480px) {
    .logo-image {
        width: 50px;
        height: 50px;
    }
}

.date-picker {
    font-size: 1.5em;
}

.responsive-table {
    font-size: 2em; /* Default font size for large screens */
    width: 100%; /* Make the table width 100% to make it responsive */
}

/* When the screen size is 768px or less, decrease the font size */
@media screen and (max-width: 768px) {
    .responsive-table {
        font-size: 1.5em;
    }
}

/* When the screen size is 480px or less, decrease the font size even more */
@media screen and (max-width: 480px) {
    .responsive-table {
        font-size: 1em;
    }
}